<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv="content-type" />
  </head>
  <body>
    <h1><%= Obfuscator.say_something_smart %></h1>
    <p><%= SocialSecurityNumber.inefficiently_make_a_social_security_number %></p>
  </body>
</html>